 body p{
     margin: 0;
     padding: 0;
 }
 
 nav {
     display:flex;
     justify-content: space-around;
     width: 20%;
     margin-left: auto;
     padding: 1em;
 }

 a{
     color: black;
     text-decoration: none;
 }

 a:hover{
         text-decoration: underline;
 }
 

 nav img{
     height: 20px;
 }

 #signup_icon{
     height: 30px;
     border-radius: 1em;
 }

 main{
     width: 50%;
     margin: 1em auto 8em auto;
     text-align: center;
 }

 input{
     width: 80%;
     padding: 1em;
     border-radius: 20px;
     border: 1px solid gray;
 }

 .google_buttons{
     margin-top: 1.5em;
     margin-right: 2px;
 }

 .google_buttons button{
     border: none;
     padding: 1em;
     

 }

 .belly{
     display: flex;
     text-align: center;
     justify-content:space-evenly;
     padding: 2em;
 }

 .belly a{
     color: rgb(14, 14, 206);
 }
 
 footer{
    background-color: rgb(247, 243, 243);
    padding: 1em;
    color: grey;
    text-decoration: none;
 }

 .footer_top{
     padding: 1em;
 }
 

 .footer_bottom{
     padding: 1em;
     display: flex;
     justify-content: space-between;
     border-top: 1px solid lightgrey;
     
 }

 .footer_bottom_left a{
     margin-right: 1em;
     color:grey;
     text-decoration: none;
     
     
 }

 .carbon img{
     height: 10px;
 }

 .carbon a{
     color: grey;
     text-decoration: none;
 }

 .footer_bottom_right a{
    margin-right: 1em;
    color: grey;
    text-decoration: none;
 }

 